<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="h-[4rem] bg-blue-600 w-full px-[22rem] py-[1rem] mb-[12px]">
      <ul
        class="flex flex-row items-center justify-between text-[1.3rem] text-white font-[600]"
      >
        <li><a href="section1"> Home</a></li>
        <li><a href="section2"> Service</a></li>
        <li><a href="section3"> Product</a></li>
        <li><a href="section4"> Blog</a></li>
        <li><a href="section5"> Contacts</a></li>
      </ul>
    </nav>
  </body>
</html>
